.ChampionRotations {
  .ChampionRotations_list {
    width: 600px;
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 121px);
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    img {
      border-radius: 5px;
      height: 71px;
      cursor: pointer;
    }
  }
  .ChampionRotations_champion {
    cursor: pointer;
    width: 598px;
    height: 354px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 598px 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(10px);
    animation: appear-anime 0.5s linear forwards;
    .ChampionRotations_champion_name {
      color: white;
      text-align: center;
    }
    .ChampionRotations_champion_tag {
      padding: 10px;
      color: white;
      strong {
        color: white;
      }
    }
    .ChampionRotations_champion_info {
      padding: 2.5px 10px 2.5px 10px;
      width: 40px;
      display: flex;
      justify-content: space-between;
      color: white;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .ChampionRotations_champion_blurb {
      padding: 10px;
      color: white;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 600px) {
  .ChampionRotations {
    .ChampionRotations_list {
      width: 100vw;
      grid-template-columns: repeat(auto-fill, 81px);
      img {
        height: 48px;
      }
    }
    .ChampionRotations_champion {
      width: calc(100vw - 2px);
      height: 300px;
      background-size: calc(100vw - 2px) 300px;
      .ChampionRotations_champion_blurb {
        font-size: 0.6rem;
      }
    }
  }
}

@keyframes appear-anime {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
