.Banner {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .Banner_logo {
    a {
      color: --theme-color-border;
      text-decoration: none;
    }
  }
  .Banner_img {
    border: 1px solid var(--theme-color-border);
    border-radius: 5px;
    box-sizing: border-box;
    width: inherit;
  }
}

@media (max-width: 600px) {
  .Banner {
    width: 100vw;
    .Banner_img {
      border: none;
    }
  }
}
