.Footer {
  padding: 10px 0 10px 0;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--theme-color-bg);
  box-sizing: border-box;
  border: 1px solid var(--theme-color-border);
  color: var(--theme-color-border);
  strong {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 40px;
    }
  }
}

@media (max-width: 600px) {
  .Footer {
    width: 100vw;
    border: none;
  }
}
