.Nav {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-bg);
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  color: var(--theme-color-border);
  .Nav_menus {
    display: flex;
    button {
      all: initial;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      cursor: pointer;

      background-color: var(--theme-color-bg);
      box-sizing: border-box;
      border-radius: 5px 5px 0px 0px;
      border: 1px solid var(--theme-color-border);
      color: var(--theme-color-border);
    }
  }
  .Nav_show {
    border: 1px solid var(--theme-color-border);
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
}

@media (max-width: 600px) {
  .Nav {
    width: 100vw;
    .Nav_menus {
      button {
        border-right: none;
        border-left: none;
      }
    }
    .Nav_show {
      border: none;
    }
  }
}
@media (max-width: 340px) {
  .Nav {
    .Navigation_menu {
      button {
        font-size: 0.5rem;
      }
    }
  }
}
