.Search {
  width: 600px;
  input {
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid var(--theme-color-border);
    background-color: var(--theme-color-bg);
    color: var(--theme-color-border);
    width: inherit;
    height: 50px;
  }
  .Search_inputed {
    box-sizing: border-box;
    border-top: none;
    color: var(--theme-color-border);
    border: 1px solid var(--theme-color-border);
    background-color: var(--theme-color-bg);
    border-radius: 5px;
    width: inherit;
    .Search_result {
      padding: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      .Search_profile {
        width: 50px;
      }
    }
  }
  .Search_history {
    margin: 5px 0 5px 0;
    display: flex;
    gap: 5px;
    span {
      font-size: 0.7rem;
      width: 16%;
      padding: 5px 10px 5px 10px;
      background-color: var(--theme-color-bg);
      border-radius: 5px;
      border: 1px solid var(--theme-color-border);
      text-align: center;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 600px) {
  .Search {
    width: 100vw;
    input {
      font-size: 0.7rem;
      border: none;
    }
    .Search_inputed {
      border: none;
    }
    .Search_history {
      span {
        font-size: 0.5rem;
      }
    }
  }
}
@media (max-width: 340px) {
  .Search {
    input {
      font-size: 0.5rem;
    }
  }
}
