.SummonerInfo {
  width: 600px;
  box-sizing: border-box;
  border-radius: 5px;
  .SummonerInfo_detail {
    display: flex;
    justify-content: center;
    background-color: var(--theme-color-bg);
    border: 1px solid var(--theme-color-border);
    border-radius: 5px;
    .Summoner_detail_tier {
      padding: 25px;
      width: 150px;
      height: 150px;
    }
    .Summoner_detail_blurb {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (max-width: 600px) {
  .SummonerInfo {
    width: 100vw;
    .SummonerInfo_detail {
      border: none;
    }
  }
}
